/*!
 * Project_Name: Themezy Insurance Template
 * Author: Themezy
 * Email: info@themezy.com
 * URL: http://themezy.com
 */
/*===========================================
 * Importing CSS Libraries
 *===========================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

/*
 * Global Styles
 */
body {
  color: #768089;
  font-family: "Roboto Condensed", "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 20px; }

hr {
  border: none;
  border-bottom: 1px solid #777; }

ul, ol {
  margin: 0;
  padding-left: 0; }

a {
  text-decoration: none;
  color: #0f75bd; }

address {
  font-style: normal; }

p {
  margin-top: 0; }

form input, form textarea, form select {
  outline: none;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }
form select { }
form textarea {
  resize: vertical; }

/*
 * Reusable Components Style
 */
.button, form input[type="submit"], form button, form input[type="reset"] {
  border: none;
  color: white;
  background: #0f75bd;
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: .3s ease;
          transition: .3s ease; }
  .button:hover, form input[type="submit"]:hover, form button:hover, form input[type="reset"]:hover, .button:focus, form input[type="submit"]:focus, form button:focus, form input[type="reset"]:focus {
    background: #1392ec; }
.button.back {
  background-color: #F7A206;
}

.map {
  min-height: 450px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; }
  .container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; }
  .container-fluid:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }

.row {
  margin-left: -15px;
  margin-right: -15px;
  *zoom: 1; }
  .row:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.3333333333%; }

  .col-sm-pull-2 {
    right: 16.6666666667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.3333333333%; }

  .col-sm-pull-5 {
    right: 41.6666666667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.3333333333%; }

  .col-sm-pull-8 {
    right: 66.6666666667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.3333333333%; }

  .col-sm-pull-11 {
    right: 91.6666666667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.3333333333%; }

  .col-sm-push-2 {
    left: 16.6666666667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.3333333333%; }

  .col-sm-push-5 {
    left: 41.6666666667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.3333333333%; }

  .col-sm-push-8 {
    left: 66.6666666667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.3333333333%; }

  .col-sm-push-11 {
    left: 91.6666666667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.3333333333%; }

  .col-md-pull-2 {
    right: 16.6666666667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.3333333333%; }

  .col-md-pull-5 {
    right: 41.6666666667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.3333333333%; }

  .col-md-pull-8 {
    right: 66.6666666667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.3333333333%; }

  .col-md-pull-11 {
    right: 91.6666666667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.3333333333%; }

  .col-md-push-2 {
    left: 16.6666666667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.3333333333%; }

  .col-md-push-5 {
    left: 41.6666666667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.3333333333%; }

  .col-md-push-8 {
    left: 66.6666666667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.3333333333%; }

  .col-md-push-11 {
    left: 91.6666666667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.3333333333%; }

  .col-lg-pull-2 {
    right: 16.6666666667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.3333333333%; }

  .col-lg-pull-5 {
    right: 41.6666666667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.3333333333%; }

  .col-lg-pull-8 {
    right: 66.6666666667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.3333333333%; }

  .col-lg-pull-11 {
    right: 91.6666666667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.3333333333%; }

  .col-lg-push-2 {
    left: 16.6666666667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.3333333333%; }

  .col-lg-push-5 {
    left: 41.6666666667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.3333333333%; }

  .col-lg-push-8 {
    left: 66.6666666667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.3333333333%; }

  .col-lg-push-11 {
    left: 91.6666666667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@-ms-viewport {
  width: device-width; }
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
/*
 * Header Styles
 */
.site-header .top-header {
  padding: 30px 0; }
.site-header .bottom-header {
  background-color: #4a4c4e;
  *zoom: 1;
  padding: 0; }
  .site-header .bottom-header:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
  @media screen and (max-width: 640px) {
    .site-header .bottom-header .social-links {
      display: none; } }

#branding {
  float: left; }
  #branding .logo, #branding .logo-text {
    display: inline-block;
    vertical-align: middle; }
  #branding .logo {
    margin-right: 10px; }
  #branding .site-title {
    margin-bottom: 0;
    font-size: 20px;
    font-size: 1.25em; }
    #branding .site-title a {
      color: #768089; }

.right-section .phone, .right-section .search-form {
  display: inline-block;
  vertical-align: middle;
  position: relative; }
@media screen and (max-width: 640px) {
  .right-section .phone {
    display: none; } }
.right-section .phone img {
  vertical-align: middle; }
.right-section .search-form {
  margin: 10px 0;
  margin-left: 20px; }
  @media screen and (max-width: 480px) {
    .right-section .search-form {
      display: none; } }
  .right-section .search-form input {
    padding-right: 40px; }
  .right-section .search-form button {
    position: absolute;
    right: 0;
    top: 0;
    background: none; }

.main-navigation {
  float: left; }
  .main-navigation .menu-toggle {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-size: 1.25em;
    display: none;
    outline: none; }
    @media screen and (max-width: 990px) {
      .main-navigation .menu-toggle {
        display: block; } }
    @media screen and (min-width: 991px) {
      .main-navigation .menu-toggle {
        display: none; } }
  .main-navigation .menu {
    list-style: none;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
    @media screen and (max-width: 990px) {
      .main-navigation .menu {
        display: none; } }
    @media screen and (min-width: 991px) {
      .main-navigation .menu {
        display: block; } }
    .main-navigation .menu li {
      display: inline-block;}
    .main-navigation .menu li:nth-child(2) {
      margin-left: -5px; }
      .main-navigation .menu li a {
        color: white;
        padding: 20px 10px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        -webkit-transition: .3s ease;
                transition: .3s ease;
        display: block;
        margin: 0px;
      }
        .main-navigation .menu li a:hover {
          color: #42a8f0;
          text-decoration: none;
          background-color: rgba(255,255,255,0.2) }
      .main-navigation .menu li.current-menu-item a {
        color: #1392ec; }
      .main-navigation .menu li:last-child a {
        border: none;
      }

.social-links {
  float: right;
  margin: 20px 0px; }
  .social-links a {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    text-align: center;
    line-height: 1.8;
    color: white;
    margin-left: 5px;
    display: inline-block;
    -webkit-transition: .3s ease;
            transition: .3s ease; }
    .social-links a:hover {
      color: #1392ec;
      border-color: #1392ec;
      background-color: rgba(255,255,255,0.2) }

.mobile-navigation {
  clear: both;
  display: none; }
  @media screen and (min-width: 991px) {
    .mobile-navigation {
      display: none !important; } }
  .mobile-navigation .menu {
    list-style: none; }
    .mobile-navigation .menu a {
      padding: 20px 0;
      display: block;
      color: white; }
    .mobile-navigation .menu .current-menu-item a {
      color: #1392ec; }

.breadcrumbs {
  background-color: #f1f1f1;
  padding: 10px 0;
  font-size: 14px;
  font-size: 0.875em; }
  .breadcrumbs a {
    margin-right: 10px; }
    .breadcrumbs a:after {
      content: " ";
      width: 7px;
      height: 5px;
      background: url(images/arrow.png) no-repeat;
      display: inline-block;
      margin-left: 10px; }

.hero-slider {
  position: relative;
  margin-bottom: 50px; }
  .hero-slider .slides {
    list-style: none;
    *zoom: 1; }
    .hero-slider .slides:after {
      content: " ";
      clear: both;
      display: block;
      overflow: hidden;
      height: 0; }
    .hero-slider .slides li {
      min-height: 580px;
      float: left;
      margin-right: -100%;
      width: 100%;
      background-size: cover;
      background-position: center center; }
  .hero-slider .slide-content {
    border-radius: 3px;
    background-color: white;
    width: 25%;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 30px; }
    @media screen and (max-width: 990px) {
      .hero-slider .slide-content {
        width: 50%; } }
    @media screen and (max-width: 480px) {
      .hero-slider .slide-content {
        width: 100%; } }
    .hero-slider .slide-content .slide-title {
      font-size: 35px;
      font-size: 2.1875em;
      font-weight: 300;
      margin-bottom: 30px; }
      .hero-slider .slide-content .slide-title strong {
        color: #0f75bd;
        display: block;
        font-weight: 300; }
    .hero-slider .slide-content p {
      line-height: 2;
      margin-bottom: 50px; }
  .hero-slider .flex-control-nav {
    list-style: none;
    position: absolute;
    bottom: -50px;
    width: 100%;
    text-align: center; }
    .hero-slider .flex-control-nav li {
      display: inline-block;
      margin: 0 5px; }
      .hero-slider .flex-control-nav li a {
        display: block;
        width: 15px;
        height: 15px;
        background-color: #c6c7c7;
        border-radius: 50%;
        overflow: hidden;
        text-indent: -99999px;
        cursor: pointer; }
        .hero-slider .flex-control-nav li a.flex-active {
          background-color: #0f75bd; }

.fullwidth-block {
  padding: 50px 0; }

.section-title, .section-subtitle {
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center;
  display: block; }

.section-title {
  font-size: 48px;
  font-size: 3em; }

.section-subtitle {
  font-size: 30px;
  font-size: 1.875em;
  color: #9ba1a6;
  margin-top: -50px;
  margin-bottom: 50px; }

.feature {
  margin-bottom: 30px;
  text-align: center; }
  .feature i {
    font-size: 48px;
    font-size: 3em;
    color: #0f75bd;
    display: inline-block;
    margin-bottom: 20px; }
  .feature .feature-title {
    font-size: 20px;
    font-size: 1.25em;
    margin-bottom: 20px;
    color: #0f75bd;
    font-weight: 400; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.offer {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden; }
  .offer .caption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
    padding: 20px; }
  .offer.caption-top .caption {
    top: 0; }
  .offer.caption-bottom .caption {
    bottom: 0; }
  .offer img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto; }
  .offer .offer-title {
    margin: 0; }

.news-list {
  margin-top: 50px; }

.news figure {
  margin-bottom: 20px;
  overflow: hidden; }
  .news figure img {
    display: block;
    max-width: 100%;
    width: 100%; }
.news .date {
  font-size: 14px;
  font-size: 0.875em; }
  .news .date img {
    margin-right: 10px; }
.news .entry-title {
  font-size: 16px;
  font-size: 1em;
  font-weight: 300; }
  .news .entry-title a {
    color: #768089;
    -webkit-transition: .3s ease;
            transition: .3s ease; }
    .news .entry-title a:hover {
      color: #0f75bd; }
    .news .entry-title a:after {
      content: " ";
      display: inline-block;
      margin-left: 10px;
      width: 10px;
      height: 7px;
      background: url("images/arrow-blue.png"); }

.testimonial-slider {
  color: white;
  position: relative;
  padding-bottom: 50px; }
  .testimonial-slider .slides {
    list-style: none;
    *zoom: 1; }
    .testimonial-slider .slides:after {
      content: " ";
      clear: both;
      display: block;
      overflow: hidden;
      height: 0; }
  .testimonial-slider blockquote {
    font-size: 30px;
    font-size: 1.875em;
    text-align: center; }
    .testimonial-slider blockquote cite {
      font-size: 15px;
      font-size: 0.9375rem;
      text-transform: uppercase;
      margin-top: 30px;
      display: block;
      font-style: normal; }
  .testimonial-slider .flex-control-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    list-style: none;
    z-index: 99; }
    .testimonial-slider .flex-control-nav li {
      display: inline-block;
      margin: 0 5px; }
      .testimonial-slider .flex-control-nav li a {
        overflow: hidden;
        text-indent: -9999px;
        background: #4795cd;
        border-radius: 50%;
        display: block;
        width: 15px;
        height: 15px;
        cursor: pointer; }
        .testimonial-slider .flex-control-nav li a.flex-active {
          background-color: white; }

.partners {
  text-align: center;
  margin-top: 50px; }
  .partners a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 10px; }

.page {
  padding: 50px 0; }
  .page .entry-title {
    font-size: 48px;
    font-size: 3em;
    font-weight: 300; }
  .page p {
    line-height: 2; }
  .page .row {
    margin: 25px -15px; }

.features {
  *zoom: 1;
  margin: 0 -15px;
  position: relative;
  z-index: 1; }
  .features:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
  .features:after {
    content: " ";
    height: 50px;
    top: 50px;
    left: 15px;
    right: 15px;
    position: absolute;
    background: url(images/dotted.png) repeat-x;
    z-index: -1; }
    @media screen and (max-width: 768px) {
      .features:after {
        display: none; } }
  .features .feature-numbered {
    width: 25%;
    float: left;
    padding: 15px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .features .feature-numbered {
        width: 50%; } }
    @media screen and (max-width: 480px) {
      .features .feature-numbered {
        width: 100%; } }
    .features .feature-numbered .num {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 2px solid #0f75bd;
      color: #0f75bd;
      text-align: center;
      font-size: 36px;
      font-size: 2.25em;
      line-height: 1.8;
      font-weight: 400;
      margin: 0 auto 20px;
      background-color: white;
      box-shadow: 0 0 0 10px white; }
    .features .feature-numbered .feature-title {
      font-size: 20px;
      font-size: 1.25em;
      color: #0f75bd;
      font-weight: 400; }

.team {
  text-align: center;
  margin-top: 50px; }
  .team .team-image {
    overflow: hidden;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin: 0 auto 30px; }
    .team .team-image img {
      display: block;
      width: 100%;
      max-width: 100%; }
  .team .team-name, .team .team-title {
    font-size: 16px;
    font-size: 1em; }
  .team .team-name {
    margin-bottom: 0; }
  .team .team-title {
    font-style: italic;
    display: block;
    margin-bottom: 20px; }
  .team .social-links {
    float: none;
    display: inline-block; }
    .team .social-links a {
      background: #0f75bd;
      border: none;
      font-size: 14px;
      font-size: 0.875em;
      line-height: 2; }

.filterable-nav {
  margin: 50px 0 30px; }
  .filterable-nav .mobile-filter {
    display: none; }
  .filterable-nav strong {
    font-weight: 300;
    margin-right: 10px; }
  .filterable-nav a {
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #768089;
    display: inline-block;
    margin-bottom: 10px;
    -webkit-transition: .3s ease;
            transition: .3s ease; }
    .filterable-nav a.current, .filterable-nav a:hover {
      color: #0f75bd;
      border-color: #0f75bd; }

.filterable-items {
  margin: 0 -15px;
  -webkit-transition: .3s ease;
          transition: .3s ease; }

.insurance-item {
  width: 33.3333%;
  padding: 15px; }
  @media screen and (max-width: 990px) {
    .insurance-item {
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .insurance-item {
      width: 100%; } }
  .insurance-item .insurance-icon {
    font-size: 48px;
    font-size: 3em;
    color: #0f75bd;
    margin-bottom: 20px; }
  .insurance-item .insurance-content {
    background: #f1f1f1;
    border-radius: 3px;
    padding: 30px;
    text-align: center; }
  .insurance-item .insurance-title {
    font-size: 36px;
    font-size: 2.25em;
    font-weight: 300;
    color: #0f75bd; }

.pagination {
  text-align: center;
  margin-top: 40px; }
  .pagination span, .pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 1.8;
    -webkit-transition: .3s ease;
            transition: .3s ease; }
  .pagination span.current, .pagination a:hover {
    background-color: #0f75bd;
    color: white;
    border: 1px solid #0f75bd; }
  .pagination a {
    border: 1px solid #ccc;
    color: #768089; }

.arrow-list {
  list-style: none;
  margin-bottom: 30px; }
  .arrow-list li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px; }
    .arrow-list li:before {
      content: " ";
      width: 7px;
      height: 5px;
      background: url(images/arrow.png) no-repeat;
      display: block;
      position: absolute;
      top: 10px;
      left: 0; }

.boxed-feature {
  background: #f1f1f1;
  border-radius: 5px;
  padding: 20px 30px;
  margin-bottom: 30px; }
  .boxed-feature i, .boxed-feature .feature-desc {
    display: inline-block;
    vertical-align: middle; }
  .boxed-feature i {
    font-size: 48px;
    font-size: 3em;
    color: #0f75bd;
    margin-right: 20px;
    margin-top: -10px; }
  .boxed-feature .feature-title {
    margin-bottom: 0;
    font-weight: 300; }

.contact-form input:not([type="submit"]), .contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: .3s ease;
          transition: .3s ease; }
  .contact-form input:not([type="submit"]):focus, .contact-form input:not([type="submit"]):hover, .contact-form textarea:focus, .contact-form textarea:hover {
    border-color: #0f75bd; }
  .contact-form textarea {
    min-height: 150px;
    margin-bottom: 10px;
  }
  input[type="date"], input[type="time"] {
    padding: 7px;
  }
  label.labels {
    font-weight: bold;
    margin: 10px 5px 21px 0px;
    float: left;
  }
  label.hover {
    cursor: pointer;
  }
  .contact-form select {
    padding: 8px 10px 9px 10px !important;
    margin-bottom: 10px;
    width: 100%;
  }

/*
 * Footer Styles
 */
.site-footer {
  border-top: 1px solid #ccc;
  padding-top: 50px; }
  .site-footer .widget-area {
    margin-bottom: 50px; }
    .site-footer .widget-area .widget {
      font-size: 14px;
      font-size: 0.875em;
      margin-bottom: 30px; }
    .site-footer .widget-area .widget-title {
      font-size: 20px;
      font-size: 1.25rem; }
    .site-footer .widget-area a {
      color: #768089; }
    .site-footer .widget-area ul {
      list-style-type: none; }
  .site-footer .bottom-footer {
    background-color: #4a4c4e;
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    font-size: 0.875em; }
  .site-footer .footer-navigation {
    margin-bottom: 30px; }
    .site-footer .footer-navigation a {
      color: white;
      padding: 0 10px;
      border-right: 1px solid white;
      line-height: 20px; }
      .site-footer .footer-navigation a:last-child {
        border-right: none; }
  .site-footer .colophon {
    color: #898b8d; }

.label {
  display: inline;
  padding: .3em .5em;
  font-size: .95em;
  font-weight: bold;
  line-height: 1.2em;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.45em;
  margin-bottom: 0.5em;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
.label-full {
  width: 100%;
  display: block;
  text-align: left;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.table caption {
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #ddd;
  border-style: solid solid none solid;
  padding: 15px 0px;
}
.table thead tr th {
  text-align: center;
}
.table input:last-child, .table select:last-child, .table textarea:last-child {
  margin-bottom: 0px !important;
}
.table.table-riwayat tbody tr td, .table.table-riwayat thead tr th {
  text-align: left;
}
.table.table-riwayat tbody tr td:first-child {
  width: 20%;
}
.table.table-riwayat tbody tr td:nth-child(2) {
  width: 10%;
}
.table.table-riwayat tbody tr td:nth-child(3) {
  width: 30%;
}
.table.table-riwayat tbody tr td:nth-child(4) {
  width: 10%;
}
.table.table-riwayat tbody tr td:last-child {
  width: 30%;
}
.table.table-riwayat tbody tr th {
  vertical-align: middle;
}
.table>thead>tr>th.vmiddle {
  vertical-align: middle;
}
#kesehatan .table tbody tr td:first-child {
  width: 40%;
}
#kesehatan .table tbody tr td:nth-child(2) {
  width: 25%;
}
#kesehatan .table tbody tr td:nth-child(3) {
  width: 5%;
  text-align: center;
}
#kesehatan .table tbody tr td:nth-child(4) {
  width: 25%;
}
#kesehatan .table tbody tr td:last-child {
  width: 5%;
  text-align: center;
}
#kesehatan .table tbody tr td textarea {
  min-height: 100%;
  max-height: auto;
}
.step-detail .label {
  width: 24%;
  margin: 0px 1% 30px 0px;
}
.step-detail .label:last-child {
  width: 25%;
  margin: 0px 0% 30px 0px;
}
.table-tambahan>tbody>tr>th {
  vertical-align: middle;
}
.table-tambahan>tbody>tr>th:first-child {
  width: 230px;
}
.table-tambahan>tbody>tr>th:nth-child(2) {
  width: 10px;
}
.table-tambahan>tbody>tr>td.info {
  font-size: 12px;
}
.table-tambahan>caption {
  border: none;
}