{{ if { url:segments segment="1" } != '' AND  { url:segments segment="1" } != 'home' }}
	{{ if template:has_breadcrumbs }}
		{{ if theme:options:show_breadcrumbs == 'yes' }}
		<div class="breadcrumbs">
			<div class="container">
			{{ template:breadcrumbs }}
				{{ if uri }}
						{{ url:anchor segments=uri title=name }}
				{{ else }}
						<span>{{ name }}</span>
				{{ endif }}
			{{ /template:breadcrumbs }}
			</div>
		</div>
		{{ endif }}
	{{ endif }}
{{ endif }}