
        <div class="widget-area">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-2 col-md-2">
                <div class="widget">
                  <h3 class="widget-title">Contact</h3>
                  <address> Company Name INC. 523 Burt Street, Omaha
                  </address>
                  <a href="#">Phone: +1 823 424 9134</a>
                  <a href="mailto:info@company.com">info@company.com</a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-2">
                <div class="widget">
                  <h3 class="widget-title"><a href="<?php echo base_url().'asuransi/';?>">Asuransi Kami</a></h3>
                  <ul class="no-bullet">
                  {{ navigation:links group="footer" parent_class="" first_class="" last_class="" }}
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="widget">
                  <h3 class="widget-title">Products</h3>
                  <ul class="no-bullet">
                    <li><a href="#">Life insurance</a></li>
                    <li><a href="#">Home insurance</a></li>
                    <li><a href="#">Car insurance</a></li>
                    <li><a href="#">Business insurance</a></li>
                    <li><a href="#">Investment insurance</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="widget">
                  <h3 class="widget-title">Our Solutions</h3>
                  <ul class="no-bullet">
                    <li><a href="#">Presentation</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Examples</a></li>
                    <li><a href="#">Our experts</a></li>
                    <li><a href="#">Resources</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="widget">
                  <h3 class="widget-title">Press Room</h3>
                  <ul class="no-bullet">
                  <li><a href="#">Advertisement</a></li>
                  <li><a href="#">Interviews</a></li>
                  <li><a href="#">Hot news</a></li>
                  <li><a href="#">Photos</a></li>
                  <li><a href="#">Marketing</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="widget">
                  <h3 class="widget-title">Resources</h3>
                  <ul class="no-bullet">
                    <li><a href="#">Sed imperdiet magna</a></li>
                    <li><a href="#">Pellentesque molestie</a></li>
                    <li><a href="#">Nulla luctus cursus</a></li>
                    <li><a href="#">Ligula vel lacinia</a></li>
                    <li><a href="#">Mauris scelerisque</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bottom-footer">
          <div class="container">
            <nav class="footer-navigation">
              <a href="#">Home</a>
              <a href="#">About us</a>
              <a href="#">Insurance plans</a>
              <a href="#">Resources</a>
              <a href="#">Contact</a>
            </nav>

            <div class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved.</div>
          </div>
        </div>