
        <div class="top-header">
          <div class="container">
            <a href="index.html" id="branding">
              <img src="{{ theme:image_url file="logo.png"}}" alt="{{ settings:site_name }}" class="logo">
              <div class="logo-text">
                <h1 class="site-title">{{ settings:site_name }}</h1>
                <small class="description">{{ settings:site_slogan }}</small>
              </div>
            </a> <!-- #branding -->

            <div class="right-section pull-right">
              <a href="#" class="phone"><i class="fa fa-phone"></i> +1 823 424 9134</a>
            </div>
          </div> <!-- .container -->
        </div> <!-- .top-header -->


        <div class="bottom-header">
          <div class="container">
            <div class="main-navigation">
              <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
              <ul class="menu">
                <li class="menu-item">
                  <a href="<?php echo base_url(); ?>">
                    <i class="fa fa-home"></i>
                  </a>
                </li>
                {{ navigation:links group="header" parent_class="menu-item" link_class="active" first_class="" last_class="" }}
              </ul> <!-- .menu -->
            </div> <!-- .main-navigation -->

            <div class="social-links">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>

            <div class="mobile-navigation"></div>
          </div>
        </div>