body {
	background: #fcfcfc;
}
.brand-logo {
	margin: 0px 20px;
}
nav {
    background-color: #FFB347;
}
header {
	background: url(../img/header.png);
	background-size: cover;
}
header .header-img {
	width: 250px;
	height: 250px;
	margin: 10px 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
header .intro-text .name{
	display: block;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2em;
	text-align: center;
}
@media (min-width: 768px) {
	header .intro-text .name {
		font-size: 4.75em;	
	}
}
.row .col.s12 .pagination {
	text-align: center;
}
.recent-post .collection .collection-item img {
	width: 100%;
	height: 100%;
}
@media (min-width: 768px) {
	.post-list .card-content{
		padding: 5px 20px 0px 5px;
	}
}
.post-title {
	font-size: 24px;
	font-weight: 500;
	margin: 0 0 10px;
	display: inline-block;
}
.post-title a{
	color: inherit;
}
.recipes-list .card .card-image {
	height: 220px;
}
.recipes-list .card .card-image img {
	max-height: 100%;
	max-width:100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
footer.page-footer .footer-copyright {
    background-color: rgba(255,255,255,0.2);
}
footer.page-footer {
    background-color: #FFB347;
}