	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Lorem ipsum dolor sit amett</h5>
					<p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="col l3 offset-l3 s12">
					<h5 class="white-text">Category</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Category 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Category 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Category 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Category 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				&copy;2016 Copyright Text
			</div>
		</div>
	</footer>
	<!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".button-collapse").sideNav();
		});
	</script>
</body>
</html>