<!DOCTYPE html>
<html lang="en">
    <head>

    {{ theme:partial name='metadata' }}

    <style type="text/css" media="screen">
      #perorangan, #perusahaan, #tertanggung, .select-first.tertanggung, #btnBack, .alert-warning {
        display: none;
      }
    </style>

        <!--[if lt IE 9]>
        <?php Asset::js('ie-support/html5shiv.js', false, 'ie_scripts'); ?>
        <?php Asset::js('ie-support/respond.min.js', false, 'ie_scripts'); ?>
        <?php echo Asset::render_js('ie_scripts') ?>
        <![endif]-->
        <?php Asset::js('jquery-1.11.1.min.js', false, 'head_js'); ?>
        <?php Asset::js('bootstrap.js', false, 'head_js'); ?>
        <?php echo Asset::render_js('head_js') ?>

    </head>


  <body>

    <div id="site-content">
      <header class="site-header">
          {{ theme:partial name="header" }}
      </header> <!-- .site-header -->
      <div class="hero hero-slider">
        <ul class="slides">
          <li data-bg-image="<?php echo base_url();?>addons/shared_addons/themes/asuransi/dummy/slide-1.jpg">
            <div class="container">
              <div class="slide-content">
                <h2 class="slide-title">Lakukan pendaftaran <strong>Online</strong></h2>
                <p>Daftar segera sekarang juga, dan anda dapat menikmati berbagai kemudahan pendaftaran dari kami.</p>
                <a href="<?php echo base_url(); ?>daftar/" class="button">Daftar Online Sekarang</a>
              </div>
            </div>
          </li>
          <li data-bg-image="<?php echo base_url();?>addons/shared_addons/themes/asuransi/dummy/slide-2.jpg">
            <div class="container">
              <div class="slide-content">
                <h2 class="slide-title">Tentang Asuransi <strong>Sunlife Financial Indonesia</strong></h2>
                <p>Sejak 1995, PT Sun Life Financial Indonesia (Sun Life) telah menyediakan masyarakat Indonesia dengan program yang lengkap mulai dari produk-produk proteksi dan pengelolaan kekayaan, termasuk asuransi jiwa...</p>
                <a href="<?php echo base_url(); ?>tentang/" class="button">Lihat Tentang Kami</a>
              </div>
            </div>
          </li>
          <li data-bg-image="<?php echo base_url();?>addons/shared_addons/themes/asuransi/dummy/slide-3.jpg">
            <div class="container">
              <div class="slide-content">
                <h2 class="slide-title">Lihat asuransi <strong>Sunlife Financial Indonesia</strong></h2>
                <p>Sesuai dengan misi kami, membantu keluarga Indonesia mencapai kesejahteraan dengan kemapanan finansial , dengan bangga kami memperkenalkan “Life's brighter under the sun”.</p>
                <a href="<?php echo base_url(); ?>asuransi/" class="button">Lihat Daftar Produk</a>
              </div>
            </div>
          </li>
        </ul>
      </div> <!-- .hero-slider -->

      <main class="main-content">
        <div class="fullwidth-block greet-section">
          <div class="container">
            <h2 class="section-title">Selamat datang di website kami.</h2>
            <small class="section-subtitle">Layanan kami yang dapat anda nikmati diwebsite ini.</small>

            <div class="row">
              <div class="col-md-3">
                <div class="feature">
                  <i class="icon-phone-24"></i>
                  <h3 class="feature-title">Kontak 24 Jam</h3>
                  <p>Anda dapat menggunakan kontak 24 jam, yang terdapat pada website ini.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <i class="icon-hotel"></i>
                  <h3 class="feature-title">Tentang Kami</h3>
                  <p>Sejak 1995, PT Sun Life Financial Indonesia (Sun Life) telah menyediakan masyarakat Indonesia dengan program yang lengkap.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <i class="fa fa-check"></i>
                  <h3 class="feature-title">Cek Status Anda</h3>
                  <div>
                    <label for="cek_status" style="width: 100%;">Kode Aplikasi</label>
                    <input type="text" maxlength="10" />
                    <br/>
                    <input type="button" value="cek" style="margin-bottom: 20px; margin-top: 5px;" />
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="feature">
                  <i class="icon-credit-card-hand"></i>
                  <h3 class="feature-title">Daftar Online</h3>
                  <p>Anda dapat melakukan pendaftaran online dengan mudahnya, tinggal isi formulir yang sudah kami sediakan.</p>
                </div>
              </div>
            </div> <!-- .row -->
          </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->

        {{ widgets:area slug="home-content" }}
      </main>
      </main>

      <div class="site-footer">
          {{ theme:partial name="footer" }}
      </div>

    <?php Asset::js('plugins.js', false, 'js_footer'); ?>
    <?php Asset::js('app.js', false, 'js_footer'); ?>
    <?php Asset::js('icheck.min.js', false, 'js_footer'); ?>
    <?php echo Asset::render_js('js_footer') ?>
  </body>

</html>